@page "/Profile"
@inject ProfileVM _profileVM
@inject NavigationManager _navigationManager

<AuthorizeView>
    <Authorized>
        <div class="container text-white">
            <h3 style="text-align:center;">Profile</h3>
            @if(!collapsedInformation)
            {
                <div class = "alert alert-info">
                    <p>@informationContent</p>
                </div>
            }
            <div>
                <h2 class="col-6">Email</h2>
                <input type="email" @bind = "@_profileVM.User.Email" placeholder="email" class="form-control"></input>
            </div>
            <div>
                <h2 class="col-6">Password</h2>
                <button class="btn btn-warning" @onclick="()=>{showChangePassword = !showChangePassword;}">Change password</button>
            </div>
            @if(showChangePassword)
            {
                <div>
                    @if(!collapsedError)
                    {
                        <div class = "alert alert-danger">
                            <p>@ErrorMessage</p>
                        </div>
                    }
                    <div>
                        <h2 class="col-6">Current Password</h2>
                        <input type="password" @bind=@currentPassword placeholder="current password" class="form-control">
                    </div>
                    <div>
                        <h2 class="col-6">New Password</h2>
                        <input type="password" @bind=@newPassword placeholder="new password" class="form-control">
                    </div>
                    <div>
                        <h2 class="col-6">New Password again</h2>
                        <input type="password" @bind=@newPasswordAgain placeholder="new password again" class="form-control">
                    </div>
                    <button class="btn btn-danger" @onclick=@ChangePassword>Change password</button>
                </div>
            }

            <div>
                <h2 class="col-6">City</h2>
                <input @bind = "@_profileVM.User.City" placeholder="city" class="form-control"></input>
            </div>
            <div>
                <h2 class="col-6">Address</h2>
                <input @bind = "@_profileVM.User.Address" placeholder="address" class="form-control"></input>
            </div>
            <div>
                <h2 class="col-6">Phone</h2>
                <input @bind = "@_profileVM.User.Phone" placeholder="phone" class="form-control"></input>
            </div>
            <div class="pt-2">
                <button class="btn btn-primary" @onclick = "@UpdateProfile">Update Profile</button>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    private string currentPassword;
    private string newPassword;
    private string newPasswordAgain;
    private bool collapsedError = true;
    private bool showChangePassword = false;
    private bool collapsedInformation = true;
    private string informationContent = "Profile updated successfully!";
    private string ErrorMessage = "";


    protected override async Task OnInitializedAsync()
    {
        var userID = await GetUserFromAuthState.GetIdFromAuthUser(authenticationState);

        if(userID is not -1)
        {
            _profileVM.User.Id = userID;
            await _profileVM.GetProfile();
        }
        else
        {
            _navigationManager.NavigateTo("/");
        }
    }

    public async Task ChangePassword()
    {
        
        if(!(newPassword == newPasswordAgain))
        {
            ErrorMessage = "The new passwords don't match";
            collapsedError = false;
            return;
        }

        bool changePassword = await _profileVM.ChangePassword(new List<string>(){currentPassword,newPassword});
        if(!changePassword)
        {
            ErrorMessage = "Current password is not matching.";
            collapsedError = false;
            return;
        }

        showChangePassword = !showChangePassword;
        currentPassword = string.Empty;
        newPassword = string.Empty;
        newPasswordAgain = string.Empty;
        collapsedError = true;
        collapsedInformation = false;

    }

    public async Task UpdateProfile()
    {
        var result = await _profileVM.UpdateProfile();
        if(!result)
        {
            informationContent = "Error updating profile!";
        }
        collapsedInformation = false;
    }
}
